.assignment {
  margin-left: 32px;
  margin-top: 32px;
  margin-right: 34px;

  .title {
    font-size: 24px;
    line-height: 29px;

    h2 {
      margin-right: 50px;
    }

    p {
      margin-right: 9px;
      font-size: 16px;
      padding-top: 3px;
    }

    span {
      padding-top: 7px;
      color: #198754;
      cursor: pointer;
    }

    .title-icon {
      width: 74px;

      span {
        padding-top: 7px;
        color: black;
        cursor: pointer;
      }
    }
  }
}

.assignment-content-title {
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 6px;
  padding-right: 32px;

  .content-quantity {
    align-items: center;

    span {
      color: #198754;
    }
  }

  p {
    color: $gray-600;
  }
}

.assignment-content {
  .left-section {
    border-top: 1px solid $gray-400;
  }

  .item {
    width: 320px;
    height: 62px;
    padding: 11px;
    border-bottom: 1px solid $gray-400;
    border-left: 1px solid $gray-400;
    border-right: 1px solid $gray-400;
    flex-direction: column;
    justify-content: space-between;

    .chapter-time {
      justify-content: space-between;

      p {
        font-size: 12px;
        color: $gray-900;
      }
    }

    .title-name {
      justify-content: space-between;

      h4 {
        color: $gray-900;
      }

      p {
        font-size: 12px;
        color: $gray-600;
      }
    }
  }

  .right-top-section {
    width: 100%;
    border: 1px solid $gray-400;

    .reply-title {
      justify-content: space-between;
      height: 62px;
      padding: 11px 11px 11px 15px;
      border-bottom: 1px solid $gray-400;

      .chapter-title {
        flex-direction: column;
        justify-content: space-between;
        color: $gray-900;

        p {
          font-size: 12px;
        }

        h4 {
          font-size: 16px;
        }
      }

      span {
        align-items: center;
      }
    }

    .reply-section {
      padding-right: 32px;
    }

    .reply-personal {

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }

      .text {
        flex-direction: column;
        justify-content: space-around;

        p {
          font-size: 12px;
          color: $gray-600;
        }
      }
    }

    .reply-personal-content {
      margin-left: 64px;
      border-bottom: 1px solid $gray-400;

      p {
        line-height: 20px;
      }

      .file {
        width: 176px;
        height: 40px;
        border: 1px solid $gray-400;
        padding-left: 12px;
        align-items: center;
        cursor: pointer;
      }

      .file:hover {
        background-color: $gray-300;
      }
    }
  }

  .right-btm-section {
    margin-bottom: 32px;

    .arrow {
      width: 72px;
    }

    .botton {
      width: 278px;

      .btn-mark {
        width: 157px;
      }

      .btn-reply {
        width: 105px;
      }
    }
  }
}